* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #D4C6A1;
}

.loader {
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h1 {
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(to right, #DFFF00, orange, #FF1300);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.loader h1:nth-child(2) {
    animation-delay: 2s;
}

.loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#main_div {

    height: 485px;
    min-width: 100vw;
}

#main_div h2 {
    font-size: 25px;
    text-align: center;
    background-color: #5E5968;
    padding: 18px 0;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#img_section {
    height: 100%;
    width: 50%;
}

#img_section img {
    width: 100%;
    height: 100%;
}

#form_section {
    height: 100%;
    width: 50%;
    padding-top: 5px;
    text-align: center;
}

#form_section h4 {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#form_section input {
    margin: 5px 10px;
    justify-content: center;
}

.input {
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid #000;
}

.lebel {
    padding-top: 10px;
    font-size: 18px;
}

.save {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.button {
    padding: 8px 30px;
    border: 2px solid #000;
}

.button_1 {
    text-align: center;
    margin-left: 120px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.button_1_1 {
    border-radius: 50px;
}

.button_1_1:hover {
    color: #fff;
    background-color: #000;
}

.save label {
    display: inline;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 10px;
}

.result {
    font-size: 18px;
    text-align: center;
    font-weight: 900;
    margin-left: 90px;
}

.inc {
    margin-left: 65px;
}

.oRent {
    margin-left: 37px;
}

.hRent {
    margin-left: 40px;
}

.other {
    margin-left: 75px;
}
.input_save {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #000;
}

.button_2 {
    border-radius: 10px;
}

.button_2:hover {
    color: #fff;
    background-color: #000;
}

.extra_padding {
    padding-bottom: 0;
}







@media (max-width :700px) {

    .loader h1 {
        font-size: 10vw;
    }

    #container {
        display: block;
    }

    #img_section {
        display: none;
    }
    #main_div {
        height: 100vh;
        width: 100vw;
    }
    #form_section {
        height: 95vh;
        width: 100vw;
        padding: 20px;
    }
    #main_div h2 {
        font-size: 20px;
        padding: 20px 0;
        color: #fff;
    }

    #form_section h4 {
        text-align: center;
    }

    #form_section input {
        margin: 5px 0px;
        display: block;
    }

    .lebel {
        font-size: 16px;
        display: block;
        text-align: left;
        padding-top: 0px;
    }

    .save {
        display: block;
    }

    .button_1 {
        text-align: left;
        margin-left: 0px;
    }

    .save label {
        display: block;
        font-size: 16px;
        padding-left: 0px;
        text-align: left;
        padding-top: 5px;
        font-size: 16px;
    }

    .result {
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        margin-left: 0px;
    }

    .inc {
        margin-left: 0px;
    }

    .oRent {
        margin-left: 0px;
    }

    .hRent {
        margin-left: 0px;
    }

    .other {
        margin-left: 5px;
    }

    .tittle {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .extra_padding {
        padding-bottom: 30px;
    }
}